*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:#CCD6F6;
    background-color: #0A192F;
    font-family: 'Roboto Mono', monospace;
}
header{
    border: 0px solid red;
    display:flex;
    height:90px;
    width:100%;
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #0A192F;
}
nav{
    border: 0px solid green;
    display:flex; 
    width:100%;
    align-items: center;
    justify-content: space-between;
}
.logo{
    /* display: flex; */
    border: 0px solid black;
    align-items: center;
    padding: 0px 50px;
}
.nav1{
    display: flex;

    justify-content: space-between;
    align-items: center;

}
.navitems{
    display: flex;
    /* making changes */
    justify-content: space-between;
    align-items: center;

}
.navitems ol li{
    border: 0px solid red;
    list-style-type: decimal-leading-zero;
    display: inline-flex;
    align-items: center;
    padding: 0px 30px;
}

.navitems ol li a:link, a:visited{
    text-decoration: none;
    color:#CCD6F6;
}
.navitems ol li a:hover, a:active{
    color:#64FFDA;
}
.resume{
    border: 2px solid #64FFDA;
    display: inline-flex;
    padding:5px 15px;
    align-items: center;
    
}
a#resume1:link, a#resume1:visited{
    color: #64FFDA;
    text-decoration: none;
}

a.collab:link, a.collab:visited{
    text-decoration: none;
    border: 2px solid #64FFDA;
    padding: 10px;
}
a.collab:hover, a.collab:active{
    position: relative;
    color: #64FFDA;
    top:-5px;
    left:-5px;
}
.main{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    border: 0px solid white;

}
.main > div{
    border:0px solid white;
}

.section1{
    color: #64FFDA;
    font-family: 'Roboto Mono', monospace;
    padding-top: 10px;
}
.section2{
    color:#CCD6F6;
    font-size: 80px;
    padding-top: 10px;
    
}
.section3{
    color:#8892B0;
    font-size: 70px;
    font-family: 'Merriweather', serif;
    padding-top: 10px;
    
}
.section4{
    color:#8892B0;
    width:650px;
    font-family: 'Roboto Mono', monospace;
    padding-top: 10px;
}
.section5{
    border: 2px solid red;
    margin-top: 80px;
}
.connect{
    position: fixed;
    bottom:100px;
    left:0;
}
.connect ol li{
    list-style: none;
    padding: 20px;
}
div.mail{
    color: #64FFDA;
    writing-mode: vertical-lr;;
    text-orientation: mixed;
    position: fixed;
    bottom: 100px;
    right: 20px;
}
a.gmail:link, a.gmail:visited{
    text-decoration: none;
    color: #64FFDA;
}
.vl{
    border-left: 2px solid #64FFDA;
    position: fixed;
    height:98px;
    bottom:0px;
    right:33px;
}